.friendsList {
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .friendsList {
    display: flex;
    flex-wrap: wrap;
  }
}
